<h3>What kind of game would you like to play?</h3>

<form action="/game">
  <input type="submit" value="Player Vs. Player">
</form>

<form action="/game">
  <input type="hidden" name="opponent" value="SimpleComputer">
  <input type="submit" value="Player Vs. Computer">
</form>