<h3>What kind of game would you like to play?</h3>

<form action="/game">
  <input type="hidden" name="player_type" value="Human">
  <input type="submit" value="Player Vs. Player">
</form>

<form action="/game">
  <input type="hidden" name="player_type" value="SimpleComputer">
  <input type="submit" value="Player Vs. Simple Computer">
</form>

<form action="/game">
  <input type="hidden" name="player_type" value="SmartComputer">
  <input type="submit" value="Player Vs. Smart Computer">
</form>